<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <appSettings>
      <add key="solraddress" value="http://10.237.230.109:8080/solr/tgidictionary" />
      <add key="tgiapi_address" value="https://www.tgicloudservices.com/tgiapiv2Test" />
      <add key="tgiapi_credential" value="michel.carroll@kantarmedia.com" />
      <add key="tgiapi_key" value="e781f91b-2728-4218-8ca1-ab9e830cc491" />
      <add key="mongo_ip_address" value="10.237.230.136:27017" />
    </appSettings>    
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
